azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "sqlAdministratorLogin": {
            "type": "string",
            "metadata": {
                "description": "The administrator username of the SQL Server."
            }
        },
        "sqlAdministratorLoginPassword": {
            "type": "securestring",
            "metadata": {
                "description": "The administrator password of the SQL Server."
            }
        },
        "transparentDataEncryption": {
            "type": "string",
            "allowedValues": [
                "Enabled",
                "Disabled"
            ],
            "defaultValue": "Enabled",
            "metadata": {
                "description": "Enable or disable Transparent Data Encryption (TDE) for the database."
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for all resources."
            }
        },
        "dataFactoryName": {
            "type": "string",
            "metadata": {
                "description":"Data Factory Name"
            }
        },
        "dataFactoryLocation": {
            "type": "string",
            "defaultValue": "East US",
            "metadata": {
                "description": "Location of the data factory. Currently, only East US, East US 2, and West Europe are supported. "
            }
        },
        "storageAccountName": {
            "type": "string",
            "metadata": {
                "description": "Name of the Azure storage account that contains the input/output data."
            }
        },
        "storageAccountKey": {
            "type": "securestring",
            "metadata": {
                "description": "Key for the Azure storage account."
            }
        },
        "triggerStartTime": {
            "type": "string",
            "metadata": {
                "description": "Start time for the trigger."
            }
        },
        "databaseName": {
            "type": "string",
            "metadata": {
                "description": "Name of the Database."
            }
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('dataFactoryName'))]",
        "sqlServerName": "[concat('sqlserver', uniqueString(subscription().id, resourceGroup().id))]",
        "databaseEdition": "Basic",
        "databaseCollation": "SQL_Latin1_General_CP1_CI_AS",
        "databaseServiceObjectiveName": "Basic"
    },
    "resources": [
        {
            "name": "[variables('sqlServerName')]",
            "type": "Microsoft.Sql/servers",
            "apiVersion": "2014-04-01",
            "location": "[parameters('location')]",
            "tags": {
                "displayName": "SqlServer"
            },
            "properties": {
                "administratorLogin": "[parameters('sqlAdministratorLogin')]",
                "administratorLoginPassword": "[parameters('sqlAdministratorLoginPassword')]",
                "version": "12.0"
            },
            "resources": [
                {
                    "name": "[parameters('databaseName')]",
                    "type": "databases",
                    "apiVersion": "2014-04-01",
                    "location": "[parameters('location')]",
                    "tags": {
                        "displayName": "Database"
                    },
                    "properties": {
                        "edition": "[variables('databaseEdition')]",
                        "collation": "[variables('databaseCollation')]",
                        "requestedServiceObjectiveName": "[variables('databaseServiceObjectiveName')]"
                    },
                    "dependsOn": [
                        "[variables('sqlServerName')]"
                    ],
                    "resources": [
                        {
                            "comments": "Transparent Data Encryption",
                            "name": "current",
                            "type": "transparentDataEncryption",
                            "apiVersion": "2014-04-01",
                            "properties": {
                                "status": "[parameters('transparentDataEncryption')]"
                            },
                            "dependsOn": [
                                "[parameters('databaseName')]"
                            ]
                        }
                    ]
                },
                {
                    "name": "AllowAllMicrosoftAzureIps",
                    "type": "firewallrules",
                    "apiVersion": "2014-04-01",
                    "location": "[parameters('location')]",
                    "properties": {
                        "endIpAddress": "0.0.0.0",
                        "startIpAddress": "0.0.0.0"
                    },
                    "dependsOn": [
                        "[variables('sqlServerName')]"
                    ]
                }
            ]
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2019-06-01",
            "name": "[parameters('storageAccountName')]",
            "location": "[parameters('location')]",
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [
                    ],
                    "ipRules": [
                    ],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccountName'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
            ],
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "enabled": true,
                    "days": 1
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccountName'), '/default/curated')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccountName'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
            ],
            "properties": {
                "publicAccess": "Container"
            }
        },
        {
            "type": "Microsoft.DataFactory/factories",
            "name": "[parameters('dataFactoryName')]",
            "apiVersion": "2018-06-01",
            "properties": {
                },
            "location": "[parameters('dataFactoryLocation')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "resources": [
                {
                    "name": "[concat(parameters('dataFactoryName'), '/SQLDB')]",
                    "type": "Microsoft.DataFactory/factories/linkedServices",
                    "apiVersion": "2018-06-01",
                    "properties": {
                        "annotations": [

                        ],
                        "type": "AzureSqlDatabase",
                        "typeProperties": {
                            "connectionString": "[concat('Server=tcp:',variables('sqlServerName'),'.database.windows.net,1433;Database=',parameters('databaseName'),';User ID=', parameters('sqlAdministratorLogin'),'@',variables('sqlServerName'),';Password=',parameters('sqlAdministratorLoginPassword'),';Trusted_Connection=False;Encrypt=True;Connection Timeout=30')]"
                        }
                    },
                    "dependsOn": [
                        "[parameters('dataFactoryName')]",
                        "[parameters('databaseName')]"
                    ]
                },
                {
                   "name": "[concat(parameters('dataFactoryName'), '/Covid_Storage')]",
                    "type": "Microsoft.DataFactory/factories/linkedServices",
                    "apiVersion": "2018-06-01",
                    "properties": {
                        "annotations": [

                        ],
                        "type": "AzureBlobStorage",
                        "typeProperties": {
                            "connectionString": "[concat('DefaultEndpointsProtocol=https;AccountName=',parameters('storageAccountName'),';AccountKey=',parameters('storageAccountKey'))]"
                        }
                    },
                    "dependsOn": [
                        "[parameters('dataFactoryName')]"
                    ]   
                },
                {
                    "name": "[concat(parameters('dataFactoryName'), '/Http_Server')]",
                    "type": "Microsoft.DataFactory/factories/linkedServices",
                    "apiVersion": "2018-06-01",
                    "properties": {
                        "annotations": [

                        ],
                        "type": "HttpServer",
                        "typeProperties": {
                            "url": "https://pancovidresponse.blob.core.windows.net/curated/",
                            "enableServerCertificateValidation": true,
                            "authenticationType": "Anonymous"
                            }
                    },
                    "dependsOn": [
                        "[parameters('dataFactoryName')]"
                    ]
                },
                {
                "name": "[concat(parameters('dataFactoryName'), '/HTTP_parquet')]",
                "type": "Microsoft.DataFactory/factories/datasets",
                "apiVersion": "2018-06-01",
                "properties": {
                    "linkedServiceName": {
                        "referenceName": "Http_Server",
                        "type": "LinkedServiceReference"
                    },
                    "parameters": {
                        "RelativeURL": {
                        "type": "string"
                        }
                    },
                    "folder": {
                        "name": "LoadDB"
                        },
                    "annotations": [],
                    "type": "Parquet",
                    "typeProperties": {
                        "location": {
                            "type": "HttpServerLocation",
                            "relativeUrl": "@dataset().RelativeURL"
                        },
                        "compressionCodec": "none"
                    },
                    "schema": []
                    },
                    "dependsOn": [
                        "[parameters('dataFactoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/Http_Server')]"
                    ]
                },
                {
                    "name": "[concat(parameters('dataFactoryName'), '/DB_Connection')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2018-06-01",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "SQLDB",
                            "type": "LinkedServiceReference"
                        },
                        "parameters": {
                            "SinkTable": {
                                "type": "string"
                            },
                            "Schema": {
                                "type": "string",
                                "defaultValue": "dbo"
                            }
                        },
                        "folder": {
                            "name": "LoadDB"
                        },
                        "annotations": [
                        ],
                        "type": "AzureSqlTable",
                        "typeProperties": {
                            "schema": {
                                "value": "@dataset().Schema",
                                "type": "Expression"
                            },
                            "table": {
                                "value": "@dataset().SinkTable",
                                "type": "Expression"
                            }
                        },
                        "schema": [
                        ]
                    },
                    "dependsOn": [
                        "[parameters('dataFactoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/SQLDB')]"
                    ]
                },
                {
                    "name": "[concat(parameters('dataFactoryName'), '/DB_Parquet_files')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2018-06-01",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "Covid_Storage",
                            "type": "LinkedServiceReference"
                        },
                        "parameters": {
                            "container": {
                                "type": "string"
                            },
                            "directory": {
                                "type": "string"
                            },
                            "file": {
                                "type": "string"
                            }
                        },
                        "folder": {
                            "name": "LoadDB"
                        },
                        "annotations": [
                        ],
                        "type": "Parquet",
                        "typeProperties": {
                            "location": {
                                "type": "AzureBlobStorageLocation",
                                "fileName": {
                                    "value": "@dataset().file",
                                    "type": "Expression"
                                },
                                "folderPath": {
                                    "value": "@dataset().directory",
                                    "type": "Expression"
                                },
                                "container": {
                                    "value": "@dataset().container",
                                    "type": "Expression"
                                }
                            },
                            "compressionCodec": "snappy"
                        },
                        "schema": [
                        ]
                    },
                    "dependsOn": [
                        "[parameters('dataFactoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/Covid_Storage')]"
                    ]
                },
                {
                    "name": "[concat(parameters('dataFactoryName'), '/Pipeline_Metadata')]",
                    "type": "Microsoft.DataFactory/factories/datasets",
                    "apiVersion": "2018-06-01",
                    "properties": {
                        "linkedServiceName": {
                            "referenceName": "Http_Server",
                            "type": "LinkedServiceReference"
                        },
                        "folder": {
                            "name": "LoadDB"
                        },
                        "annotations": [
                        ],
                        "type": "DelimitedText",
                        "typeProperties": {
                            "location": {
                                 "type": "HttpServerLocation",
                                "relativeUrl": "Metadata/DataSource_Metadata.txt"
                                },
                            "columnDelimiter": ",",
                            "escapeChar": "\\",
                            "firstRowAsHeader": true,
                            "quoteChar": "\""
                        },
                        "schema": [
                                    {
                                    "name": "Pipeline",
                                    "type": "String"
                                    },
                                    {
                                    "name": "SinkSchema",
                                    "type": "String"
                                    },
                                    {
                                    "name": "RelativeURL",
                                    "type": "String"
                                    },
                                    {
                                    "name": "StagePath",
                                    "type": "String"
                                    },
                                    {
                                    "name": "SinkTable",
                                    "type": "String"
                                    },
                                    {
                                    "name": "SourceContainer",
                                    "type": "String"
                                    },
                                    {
                                    "name": "SourceDirectory",
                                    "type": "String"
                                    },
                                    {
                                    "name": "SourceFileName",
                                    "type": "String"
                                    }
                                ]
                    },
                    "dependsOn": [
                        "[parameters('dataFactoryName')]",
                        "[concat(variables('factoryId'), '/linkedServices/Covid_Storage')]"
                    ]
                },
                {
                    "name": "[concat(parameters('dataFactoryName'),'/Load_DB')]",
                    "type": "Microsoft.DataFactory/factories/pipelines",
                    "apiVersion": "2018-06-01",
                    "properties": {
                        "activities": [
                          {
                "name": "InterateDataSources",
                "type": "ForEach",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@pipeline().parameters.pipelineList",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "activities": [
                        {
                            "name": "Copy Storage to DB",
                            "description": "Creates and loads table based on metadata passed in from interator",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Copy HTTP to Storage",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "ParquetSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": false,
                                        "enablePartitionDiscovery": false
                                    }
                                },
                                "sink": {
                                    "type": "AzureSqlSink",
                                    "preCopyScript": {
                                        "value": "DROP TABLE IF EXISTS [@{item().SinkSchema}].[@{item().SinkTable}]",
                                        "type": "Expression"
                                    },
                                    "tableOption": "autoCreate",
                                    "disableMetricsCollection": false
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "DB_Parquet_files",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "@item().SourceContainer",
                                            "type": "Expression"
                                        },
                                        "directory": {
                                            "value": "@item().SourceDirectory",
                                            "type": "Expression"
                                        },
                                        "file": {
                                            "value": "@item().SourceFileName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DB_Connection",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "SinkTable": {
                                            "value": "@item().SinkTable",
                                            "type": "Expression"
                                        },
                                        "Schema": {
                                            "value": "@item().SinkSchema",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "Copy HTTP to Storage",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "ParquetSource",
                                    "storeSettings": {
                                        "type": "HttpReadSettings",
                                        "requestMethod": "GET"
                                    }
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageWriteSettings"
                                    }
                                },
                                "enableStaging": true,
                                "stagingSettings": {
                                    "linkedServiceName": {
                                        "referenceName": "Covid_Storage",
                                        "type": "LinkedServiceReference"
                                    },
                                    "path": {
                                        "value": "@item().StagePath",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "HTTP_parquet",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "RelativeURL": {
                                            "value": "@item().RelativeURL",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DB_Parquet_files",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "@item().SourceContainer",
                                            "type": "Expression"
                                        },
                                        "directory": {
                                            "value": "@item().SourceDirectory",
                                            "type": "Expression"
                                        },
                                        "file": {
                                            "value": "@item().SourceFileName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            }  
                        ],
                        "parameters": {
                            "pipelineList": {
                                "type": "array"
                            }
                        },
                        "folder": {
                            "name": "Loading DB"
                        },
                        "annotations": [
                        ]
                    },
                    "dependsOn": [
                        "[parameters('dataFactoryName')]",
                        "[concat(variables('factoryId'), '/datasets/DB_Parquet_files')]",
                        "[concat(variables('factoryId'), '/datasets/DB_Connection')]"
                    ]
                },
                {
                    "name": "[concat(parameters('dataFactoryName'),'/Load_DB_Driver')]",
                    "type": "Microsoft.DataFactory/factories/pipelines",
                    "apiVersion": "2018-06-01",
                    "properties": {
                        "activities": [
                            {
                                "name": "Lookup1",
                                "type": "Lookup",
                                "dependsOn": [
                                ],
                                "policy": {
                                    "timeout": "7.00:00:00",
                                    "retry": 0,
                                    "retryIntervalInSeconds": 30,
                                    "secureOutput": false,
                                    "secureInput": false
                                },
                                "userProperties": [
                                ],
                                "typeProperties": {
                                    "source": {
                                        "type": "DelimitedTextSource",
                                        "storeSettings": {
                                            "type": "AzureBlobStorageReadSettings",
                                            "recursive": true
                                        },
                                        "formatSettings": {
                                            "type": "DelimitedTextReadSettings"
                                        }
                                    },
                                    "dataset": {
                                        "referenceName": "Pipeline_Metadata",
                                        "type": "DatasetReference"
                                    },
                                    "firstRowOnly": false
                                }
                            },
                            {
                                "name": "Load_DB_Driver",
                                "type": "ExecutePipeline",
                                "dependsOn": [
                                    {
                                        "activity": "Lookup1",
                                        "dependencyConditions": [
                                            "Succeeded"
                                        ]
                                    }
                                ],
                                "userProperties": [
                                ],
                                "typeProperties": {
                                    "pipeline": {
                                        "referenceName": "Load_DB",
                                        "type": "PipelineReference"
                                    },
                                    "waitOnCompletion": true,
                                    "parameters": {
                                        "pipelineList": {
                                            "value": "@activity('Lookup1').output.value",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            }
                        ],
                        "folder": {
                            "name": "Loading DB"
                        },
                        "annotations": [
                        ]
                    },
                    "dependsOn": [
                        "[parameters('dataFactoryName')]",
                        "[concat(variables('factoryId'), '/pipelines/Load_DB')]",
                        "[concat(variables('factoryId'), '/datasets/Pipeline_Metadata')]"

                    ]
                },
                {
                    "name": "[concat(parameters('dataFactoryName'), '/Load_DB_Driver_Trigger')]",
                    "type": "Microsoft.DataFactory/factories/triggers",
                    "apiVersion": "2018-06-01",
                    "properties": {
                        "annotations": [

                        ],
                        "runtimeState": "Started",
                        "pipelines": [
                            {
                                "pipelineReference": {
                                    "referenceName": "Load_DB_Driver",
                                    "type": "PipelineReference"
                                },
                                "parameters": {

                                }
                            }
                        ],
                        "type": "ScheduleTrigger",
                        "typeProperties": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "startTime": "[parameters('triggerStartTime')]",
                                "timeZone": "UTC",
                                "schedule": {
                                    "hours": [
                                        8
                                    ]
                                }
                            }
                        }
                    },
                    "dependsOn": [
                        "[parameters('dataFactoryName')]",
                        "[concat(variables('factoryId'), '/pipelines/Load_DB_Driver')]"
                    ]
                }
            ]
        }
    ]
}
